[run]
source = stock_pandas
omit =
    */test/*
    */__pycache__/*
    */site-packages/*
parallel = true
branch = true

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    pass
show_missing = true
precision = 2

[paths]
source =
    stock_pandas/
    */site-packages/stock_pandas/

