name: build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", 3.13, 3.14]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: pip install and test
      run: |
        python -c "import sys; print(sys.version)"
        echo ">> Installing dependencies ..."
        make install
        echo ">> Building extension ..."
        make build-ext
        make test
        make report
      env:
        CI: true
    - name: test pip install
      run: |
        make build
        pip install dist/*.whl
      env:
        CI: true
